@mixin channelBg() {
  .fv56lj0 & {
	  background: $bbc-one-brand;
  }

  .hq09ky1 & {
	  background: $bbc-two-brand;
  }

  .kl05fx3 & {
  	background: $bbc-three-brand;
  }

  .vf63ko9 & {
  	background: $bbc-four-brand;
  }
}
