.programme-guide {
  overflow: hidden;
  position: relative;

  &__header {
    height: 40px;

    &__legend {
      float: left;
      background: #343A4B;
      text-align: center;
      height: 100%;
      width: 64px;
      padding: 10px;
      z-index: $zindex0;
      position: relative;
    }
  }

  &__showtimes {
    background: #343A4B;
    color: #fff;
    height: 100%;
    font-size: 1.2rem;
    line-height: 1.6;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 3792px;
    transition: transform 0.5s ease;

    &__time {
      display: inline-block;
      font-weight: 500;
      padding: 10px 5px;
      width: 75px;
    }
  }

  &__body {
    min-height: 200px;
    overflow: hidden;
    float: left;
  }

  &__row {
    border-bottom: 1px solid #efefef;
    clear: both;
    height: 65px;
    overflow: hidden;

    &__header {
      background: lighten(#dfdfdf, 10%);
      float: left;
      height: 100%;
      position: relative;
      text-align: center;
      // width: 150px;
      z-index: $zindex0;
    }

    &__items {
      width: 3790px;
      // margin-left: 150px;
      transition: transform 0.5s ease;
      height: 100%;
    }
  }

  &__controls {
    background: #ccc;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;

    .previous,
    .next {
      background: lighten($brand-primary, 5%);
      border: 0;
      cursor: pointer;
      float: left;
      height: 100%;
      outline: 0;
      width: 37.5px;
      transition:.5s;

      &:hover {
        background: darken($brand-primary, 10%);
      }

      &[disabled] {
        background: #ccc;
        cursor: auto;
      }
    }

    .arrow {
      vertical-align: middle;
    }
  }

  &__toolbar {
    float: left;
    text-align: right;
    width: 100%;
  }

}

.epg-fade {
  animation: fadein 4s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include media-breakpoint-up(lg) {
  .programme-guide {
    &__header__legend,
    &__row__header {
      width: 140px;
    }
  }
}