.programme-details {
    font-weight: 300;

    &__img {

    }

    &__body {
        padding: 0 40px;
    }

    &__title {
        font-weight: 300;
        text-align: center;
    }

    &__time {

    }

    &__genre {
        float: right;
    }
}